<?xml version="1.0" encoding="UTF-8"?>
<beans 
  xmlns="http://www.springframework.org/schema/beans"
  xmlns:util="http://www.springframework.org/schema/util"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                      http://www.springframework.org/schema/util     http://www.springframework.org/schema/util/spring-util-3.0.xsd">

  <bean id="cli" class="com.locademiaz.drools.shell.DroolsShellCli">
    <constructor-arg ref="reader"/>
    <constructor-arg ref="shell"/>
  </bean>

  <bean id="shell" class="com.locademiaz.drools.shell.DroolsShell">
    <constructor-arg ref="commands"/>
    <constructor-arg ref="outputBuilders"/>
  </bean>

  <bean id="reader" class="com.locademiaz.drools.ext.spring.ConsoleReaderFactoryBean">
    <property name="bellEnabled" value="true"/>
    <property name="completors">
      <list>
        <bean class="com.locademiaz.drools.ext.spring.SimpleCompletorForCommandsFactoryBean">
          <property name="commands" ref="commands"/>
        </bean>
      </list>
    </property>
  </bean>

  <bean id="objectStore" class="com.locademiaz.drools.ext.ObjectStore"/>

  <util:map id="commands">
    <entry key="lsrules">
      <bean class="com.locademiaz.drools.shell.commands.ListRulesCliCommand"/>
    </entry>
    <entry key="insert">
      <bean class="com.locademiaz.drools.shell.commands.InsertFactCliCommand">
        <constructor-arg ref="reader"/>
        <constructor-arg>
          <bean class="com.locademiaz.drools.commands.ContextAwareInsertObjectCommand">
            <constructor-arg ref="objectStore"/>
          </bean>
        </constructor-arg>
      </bean>
    </entry>
    <entry key="lsfacts">
      <bean class="com.locademiaz.drools.shell.commands.ListFactsCliCommand"/>
    </entry>
    <entry key="retract">
      <bean class="com.locademiaz.drools.shell.commands.RetractFactCliCommand">
        <constructor-arg>
          <bean class="com.locademiaz.drools.commands.ContextAwareRetractObjectCommand">
            <constructor-arg ref="objectStore"/>
          </bean>
        </constructor-arg>
      </bean>
    </entry>
    <entry key="fire">
      <bean class="com.locademiaz.drools.shell.commands.FireAllRulesCliCommand"/>
    </entry>
  </util:map>

  <util:map id="outputBuilders">
    <entry key="com.locademiaz.drools.commands.RulesByPackageCommand">
      <bean class="com.locademiaz.drools.shell.outputbuilders.RulesByPackageOutputBuilder"/>
    </entry>
    <entry key="com.locademiaz.drools.commands.RulesForPackageCommand">
      <bean class="com.locademiaz.drools.shell.outputbuilders.RulesForPackageOutputBuilder"/>
    </entry>
    <entry key="com.locademiaz.drools.commands.ContextAwareInsertObjectCommand">
      <bean class="com.locademiaz.drools.shell.outputbuilders.InsertedObjectOutputBuilder"/>
    </entry>
    <entry key="org.drools.command.runtime.rule.GetObjectsCommand">
      <bean class="com.locademiaz.drools.shell.outputbuilders.ToStringOutputBuilder"/>
    </entry>
    <entry key="com.locademiaz.drools.commands.ContextAwareRetractObjectCommand">
      <bean class="com.locademiaz.drools.shell.outputbuilders.RetractedObjectOutputBuilder"/>
    </entry>
    <entry key="org.drools.command.runtime.rule.FireAllRulesCommand">
      <bean class="com.locademiaz.drools.shell.outputbuilders.FireAllRulesOutputBuilder"/>
    </entry>
    <entry key="com.locademiaz.drools.commands.VerboseFireAllRules">
      <bean class="com.locademiaz.drools.shell.outputbuilders.FireAllRulesOutputBuilder"/>
    </entry>
  </util:map>
</beans>
